.user-info-card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 25%;
    height: 25%;
    transition: width 0.25s;
}

.user-info-card:hover {
    width: 33%;
}